<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div class="site-info">
            <h1 class="site-name">
				<a href="{{ site.baseurl }}/">
                  	{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}
             	</a>
           	</h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">

            <a href="http://blog.lvduit.com/2014/03/about.html#.VUt6jrqqqkp" title="Some stuff about me">about</a> |
            <a href="http://lvduit.com">portfolio</a>	| 
            <a href="http://sv1.lvduit.com">lab</a>	|
            <a href="http://ghost.lvduit.com">ghost</a>	|
            <a href="https://sites.google.com/site/duyetdev/">duyetdev</a>	|
            <a href="http://twitter.com/lvduit">twitter</a>
                      <br>
                      
            [c] 2015 <a href="http://www.lvduit.com/portfolio/" target="_blank">LvDuit</a> mọi quyền được bảo lưu bởi 
                      
            <a href="http://www.dmca.com/Protection/Status.aspx?ID=db06456f-e405-4583-9ce3-c1ee9a6c45eb" title="DMCA">
            <img alt="DMCA.com" src="http://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=db06456f-e405-4583-9ce3-c1ee9a6c45eb"></a>

        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
